.App {
    --header_height: 60px;
}

.hw {
    padding-bottom: 32px;
    border-bottom: 1px solid #D9D9D9;
}

.hw > div {
    padding: 0 15px;
}

.hwTitle {
    padding: 47px 15px 10px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    border-bottom: 1px solid #D9D9D9;
}